.form {
  border-radius: .35rem;
  .button--close {
    background: url("../../assets/images/close.svg") no-repeat center;
    margin: .25rem;
  }
  label {
    font-weight: bold;
  }

  .input {
    margin-bottom: 1rem;
  }

  .button--add {
    height: 2rem;
    width: 2rem;
    margin: 0 auto;
  }
}